@charset "UTF-8";

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Include Fonts */
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

/* Root */
:root {
    --branco: #FFF;
    --preto: #000;
    --cinza-escuro: #575756;
    --vermelho: #E42313;
    --fundo-formulario: #FBFBFB;
    --fundo-input: #F3F3F3;
    --fonte-padrao: 'OpenSans-Regular', cursive;
    --fonte-pesada: 'OpenSans-Bold', cursive;
}

/* Setup global */
body {
    width: 100%;
    font-family: var(--fonte-padrao);
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fonte-pesada);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 1em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

h1,
h2 {
    text-align: center;
}

/* Custom */
.branco {
    color: var(--branco);
}

.f-branco {
    background-color: var(--branco);
}

.preto {
    color: var(--preto);
}

.f-preto {
    background-color: var(--preto);
}

.vermelho {
    color: var(--vermelho);
}

.f-vermelho {
    background-color: var(--vermelho);
}

.cinza {
    color: var(--cinza-escuro);
}

.f-cinza {
    background-color: var(--cinza-escuro);
}

.f-cinza-claro {
    background-color: var(--fundo-formulario);
}

.container-sd {
    padding: 0 5%;
}

.espaco {
    padding-top: 20px;
    padding-bottom: 20px;
}

.risco {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
}

.risco:after {
    content: '';
    width: 10%;
    border-bottom: 2px solid var(--cinza-escuro);
    margin: auto 0 auto 10px;
}

.img-site {
    height: 350px;
}

/* Menu */
.btn-menu {
    width: 75px;
    height: 56px;
    float: left;
    color: var(--preto);
    background-color: var(--branco);
    border-radius: 56px;
    border: none;
    font-size: 1.5em;
    margin: 10px auto;
}

.menu {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.975);
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
}

.btn-close {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background-color: var(--branco);
    border: none;
    display: block;
    margin: 10px auto;
    font-size: 2em;
    font-family: var(--fonte-pesada);
}

.menu ul {
    width: 100%;
    text-align: center;
}

.menu li {
    padding: 8px 0;
}

.menu li a {
    font-size: 1.8em;
    color: var(--branco);
    text-decoration: none;
}

.btn-search {
    font-size: 2.8em;
    color: var(--fundo-vermelho);
    float: right;
    margin-right: 30px;
}

.btn-search-xl {
    display: none;
}

/* Banner */
.banner {
    width: 100%;
    height: 400px;
}

.banner img {
    height: 300px;
}

/* Section quem somos */
#quem-somos h1 {
    padding: 10px 0;
}

#quem-somos h2 {
    font-size: 3.5em;
    padding: 10px 0;
}

#quem-somos p {
    padding: 10px 0;
}

.btn-saiba {
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 50%;
    margin: 20px auto;
    border: none;
    font-family: var(--fonte-pesada);
}

/* Section Espaco */
#nosso-espaco h1 {
    padding: 10px 0;
}

#nosso-espaco h2 {
    font-size: 3.5em;
    padding: 10px 0;
}

#nosso-espaco p {
    padding: 10px 0;
}

/* Section fale */
h1,
p {
    color: var(--fundo-cinza-escuro);
}

#fale-conosco h1 {
    padding: 10px 0;
}

#fale-conosco p {
    padding: 10px 0;
}

/* Section fale */
.contato-icone {
    padding: 20px 0;
}

.btn-icon {
    background-color: var(--fundo-formulario);
    display: block;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
}

.btn-icon span {
    margin-left: 10px;
}

/* Section form  */
.form-area {
    background-color: var(--fundo-formulario);
    padding: 20px 0;
}

input,
select {
    width: 100%;
    margin: 10px 0;
    padding: 20px 0 20px 10px;
    background-color: var(--fundo-input);
    border: none;
    border-radius: 10px;
    color: var(--cinza-escuro);
}

textarea {
    background-color: var(--fundo-input);
    border: none;
    border-radius: 10px;
    padding: 20px 0 0 10px;
    width: 100%;
}

textarea::placeholder {
    font-size: 1.2em;
}

.btn-form {
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 50%;
    margin: 30px auto 10px auto;
    border: none;
    font-size: 20px;
}

/* Footer */
footer {
    text-align: center;
}

footer ul li {
    margin-bottom: 20px;
}

footer p {
    text-align: center;
}

.risco-rodape {
    content: '';
    height: 1px;
    width: 100%;
    background-color: var(--branco);
    display: inline-block;
}

.footer {
    padding: 20px 0;
}

.footer-menu {
    font-size: 1.5em;
}

.footer-icon {
    margin-top: 20px;
    font-size: 50px;
}

.footer-icon ul li {
    display: inline-block;
    margin: 0 auto;
}

.footer-icon ul li a:nth-child(1) {
    margin-left: 20px;
}

.t {
    display: none;
}